IMXSCOUT_HOST=imxscout.importacionesamexico.com.mx
IMXSCOUT_DB_PASSWORD=change_me
IMXSCOUT_DB_ROOT_PASSWORD=change_me_too
MAX_CONCURRENT_SCRAPERS=2
MAX_URLS_PER_REQUEST=50
SCRAPER_TIMEOUT_MS=30000
TZ=America/Mexico_City
